*.7z filter=lfs diff=lfs merge=lfs -text
*.arrow filter=lfs diff=lfs merge=lfs -text
*.bin filter=lfs diff=lfs merge=lfs -text
*.bz2 filter=lfs diff=lfs merge=lfs -text
*.ckpt filter=lfs diff=lfs merge=lfs -text
*.ftz filter=lfs diff=lfs merge=lfs -text
*.gz filter=lfs diff=lfs merge=lfs -text
*.h5 filter=lfs diff=lfs merge=lfs -text
*.joblib filter=lfs diff=lfs merge=lfs -text
*.lfs.* filter=lfs diff=lfs merge=lfs -text
*.mlmodel filter=lfs diff=lfs merge=lfs -text
*.model filter=lfs diff=lfs merge=lfs -text
*.msgpack filter=lfs diff=lfs merge=lfs -text
*.npy filter=lfs diff=lfs merge=lfs -text
*.npz filter=lfs diff=lfs merge=lfs -text
*.onnx filter=lfs diff=lfs merge=lfs -text
*.ot filter=lfs diff=lfs merge=lfs -text
*.parquet filter=lfs diff=lfs merge=lfs -text
*.pb filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
*.pkl filter=lfs diff=lfs merge=lfs -text
*.pt filter=lfs diff=lfs merge=lfs -text
*.pth filter=lfs diff=lfs merge=lfs -text
*.rar filter=lfs diff=lfs merge=lfs -text
*.safetensors filter=lfs diff=lfs merge=lfs -text
saved_model/**/* filter=lfs diff=lfs merge=lfs -text
*.tar.* filter=lfs diff=lfs merge=lfs -text
*.tar filter=lfs diff=lfs merge=lfs -text
*.tflite filter=lfs diff=lfs merge=lfs -text
*.tgz filter=lfs diff=lfs merge=lfs -text
*.wasm filter=lfs diff=lfs merge=lfs -text
*.xz filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
*.zst filter=lfs diff=lfs merge=lfs -text
*tfevents* filter=lfs diff=lfs merge=lfs -text
engines/stockfish-10-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-11-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-12-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-13-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-14-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-15-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-16-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-7-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish-8-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-10-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-11-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-12-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-13-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-14-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-16-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-7-uci filter=lfs diff=lfs merge=lfs -text
engines/stockfish/stockfish-8-uci filter=lfs diff=lfs merge=lfs -text
engines/maia/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/libcublas.so.10 filter=lfs diff=lfs merge=lfs -text
engines/maia/libstdc++.so.6 filter=lfs diff=lfs merge=lfs -text
engines/maia/libcublasLt.so.10 filter=lfs diff=lfs merge=lfs -text
engines/maia/lib/libcublas.so.10 filter=lfs diff=lfs merge=lfs -text
engines/maia/lib/libcublasLt.so.10 filter=lfs diff=lfs merge=lfs -text
engines/maia/lib/libstdc++.so.6 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1100/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1200/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1300/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1400/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1500/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1600/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1700/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1800/lc0 filter=lfs diff=lfs merge=lfs -text
engines/maia/maia-1900/lc0 filter=lfs diff=lfs merge=lfs -text
engines/Patricia/patricia filter=lfs diff=lfs merge=lfs -text
engines/trollfish/trollfish filter=lfs diff=lfs merge=lfs -text
